body {
  margin-top: 30px;
  padding: 0;
}

#title {
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
}

#title sup {
  font-size: 14px;
}

input {
  width: 400px;
}

button {
  margin-top: 10px;
  font-size: 16px;
}

#loading, #error {
  display: none;
}

#info {
  margin-bottom: 15px;
  display: none;
}
